<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>sv1</servlet-name>
    <servlet-class>com.inutech.servlet.Servlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sv1</servlet-name>
    <url-pattern>/class1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sv2</servlet-name>
    <servlet-class>com.inutech.servlet.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sv2</servlet-name>
    <url-pattern>/classlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sv3</servlet-name>
    <servlet-class>com.inutech.servlet.AnAcServlrt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sv3</servlet-name>
    <url-pattern>/AnAca</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sv4</servlet-name>
    <servlet-class>com.inutech.servlet.OpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sv4</servlet-name>
    <url-pattern>/option</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sv5</servlet-name>
    <servlet-class>com.inutech.servlet.EtuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sv5</servlet-name>
    <url-pattern>/etudiant</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sv6</servlet-name>
    <servlet-class>com.inutech.servlet.NivServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sv6</servlet-name>
    <url-pattern>/niveau</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sv7</servlet-name>
    <servlet-class>com.inutech.servlet.TypeAnAnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sv7</servlet-name>
    <url-pattern>/type</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sv8</servlet-name>
    <servlet-class>com.inutech.servlet.VacServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sv8</servlet-name>
    <url-pattern>/vacation</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>fl1</filter-name>
    <filter-class>com.inutech.filter.Filtre1</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>fl1</filter-name>
    <url-pattern>/restraint/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>com.inutech.servlet.Upload1</servlet-class>
    <multipart-config>
    <location>c:/fichiers</location>
    <max-file-size>10485760</max-file-size> <!-- 10 Mo -->
    <max-request-size>52428800</max-request-size> <!-- 5 x 10 Mo -->
    <file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>


</web-app>